<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="../js/jquery3.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div style="font-size: 20px">
    <a th:href="@{back2(user_code=${user_code})}">返回</a>
</div>
<div class="login-container">
    <form id="pay_for_friend" action="pay_for_friend" method="get">
        <div class="row justify-content-center bg-light" style="height: 480px">
            <div class="align-self-center">
                <div class="row">
                    <div class="col-xl-4 " style="width: 500px;height: 90px;">
                        <label>车牌号码:</label>
                        <input type="text" maxlength="9" class="form-control"  th:id="car_code" th:name="car_code" style="width: 500px"/>
                    </div>
                    <div class="col-xl-4" hidden>
                        <input type="text" maxlength="20" class="form-control" th:value="${user_code}" th:id="user_code" th:name="user_code"/>
                    </div>
                </div>
                <div class="row justify-content-center bg-light mt-3" id="btns">
                    <div class="col-xl-4 text-center" >
                        <button class="btn btn-primary" id="btn_ok">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>